<% was_validated = model.errors.any? %>

<%= form_with(model: model, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = model.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% model.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% idea_id_class = "form-control" %>
    <% idea_id_was_invalid = model.errors.include?(:idea_id) %>

    <% if was_validated %>
      <% if idea_id_was_invalid %>
        <% idea_id_class << " is-invalid" %>
      <% else %>
        <% idea_id_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :idea_id %>
    <%= f.select :idea_id, options_from_collection_for_select(Idea.all, :id, :to_s, @model.idea_id), {}, class: "form-control" %>
    <% if idea_id_was_invalid %>
      <% model.errors.full_messages_for(:idea_id).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
