<%= form_with(model: @association, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :source_association_id %>
    <%= f.select :source_association_id, options_from_collection_for_select(Association.all, :id, :to_s, @association.source_association_id), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :through_association_id %>
    <%= f.select :through_association_id, options_from_collection_for_select(Association.all, :id, :to_s, @association.through_association_id), {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :origin_model_id, value: @model.id %>

  <div class="form-group">
    <%= f.label :terminus_model_id, "Which table do you want the method to return an associated record(s) from?" %>
    <%= f.text_field :terminus_model_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :foreign_key %>
    <%= f.text_field :foreign_key, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nature, "For this relationship, how is a row in the #{@association.origin_model.plural_name} table connected to a row in the #{@association.terminus_model.plural_name} table?" %>
    <%= f.select :nature, options_for_select(Association.natures.keys), {}, class: "form-control" %>
  </div>

  <%= f.submit "Create association", class: "btn btn-block btn-outline-secondary" %>
<% end %>
