<%= form_with(model: @direct_association, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :foreign_key %>
    <%= f.text_field :foreign_key, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :origin_model_id %>
    <%= f.text_field :origin_model_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :terminus_model_id, value: @model.id %>

  <%= f.submit "Create direct association", class: "btn btn-block btn-outline-secondary" %>
<% end %>
