<!-- Form direct_association start -->
<%= form_with(model: @direct_association, local: true) do |f| %>
<!-- Form direct_association end -->

  <!-- Label and input for foreign_key start -->
  <div class="form-group">
    <%= f.label :foreign_key %>
    <!-- Input for foreign_key start -->
    <%= f.text_field :foreign_key, class: "form-control" %>
    <!-- Input for foreign_key end -->
  </div>
  <!-- Label and input for foreign_key end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>
    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for origin_model_id start -->
  <!-- Input for origin_model_id start -->
  <%= f.hidden_field :origin_model_id, value: @model.id %>
  <!-- Input for origin_model_id end -->
  <!-- Label and input for origin_model_id end -->

  <!-- Label and input for terminus_model_id start -->
  <div class="form-group">
    <%= f.label :terminus_model_id %>
    <!-- Input for terminus_model_id start -->
    <%= f.text_field :terminus_model_id, class: "form-control" %>
    <!-- Input for terminus_model_id end -->
  </div>
  <!-- Label and input for terminus_model_id end -->

  <%= f.submit "Create direct association", class: "btn btn-block btn-outline-secondary" %>
<% end %>
