<%= form_with(model: @indirect_association, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :source_association_id %>
    <%= f.text_field :source_association_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :source_association_type %>
    <%= f.text_field :source_association_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :through_association_id %>
    <%= f.text_field :through_association_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :through_association_type %>
    <%= f.text_field :through_association_type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :origin_model_id %>
    <%= f.text_field :origin_model_id, class: "form-control" %>
  </div>

  <%= f.hidden_field :terminus_model_id, value: @model.id %>

  <%= f.submit "Create indirect association", class: "btn btn-block btn-outline-secondary" %>
<% end %>
