<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @model, partial: "card", as: :model %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "models/model_originating_direct_associations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "models/model_terminating_direct_associations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "models/model_originating_indirect_associations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "models/model_terminating_indirect_associations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "models/model_direct_terminus_models" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "models/model_direct_origin_models" %>
  </div>
</div>
