<div class="card mb-3">
  <h2 class="card-header h4">
    Direct Association #<%= direct_association.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Foreign key</dt>
      <dd><%= direct_association.foreign_key %></dd>

      <dt>Name</dt>
      <dd><%= direct_association.name %></dd>

      <dt>Origin model</dt>
      <dd><%= direct_association.origin_model_id %></dd>

      <dt>Terminus model</dt>
      <dd><%= direct_association.terminus_model_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back direct_association, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_direct_association_url(direct_association), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to direct_association, method: :delete, data: { confirm: "Do you really want to delete this direct_association?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(direct_association.updated_at) %> ago
  </div>
</div>
