<div class="card mb-3">
  <h2 class="card-header h4">
    Indirect Association #<%= indirect_association.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= indirect_association.name %></dd>

      <dt>Source association</dt>
      <dd><%= indirect_association.source_association_id %></dd>

      <dt>Source association type</dt>
      <dd><%= indirect_association.source_association_type %></dd>

      <dt>Through association</dt>
      <dd><%= indirect_association.through_association_id %></dd>

      <dt>Through association type</dt>
      <dd><%= indirect_association.through_association_type %></dd>

      <dt>Origin model</dt>
      <dd><%= indirect_association.origin_model_id %></dd>

      <dt>Terminus model</dt>
      <dd><%= indirect_association.terminus_model_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back indirect_association, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_indirect_association_url(indirect_association), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to indirect_association, method: :delete, data: { confirm: "Do you really want to delete this indirect_association?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(indirect_association.updated_at) %> ago
  </div>
</div>
