<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <h2 class="card-header h4">
        <%= step.titleize %>
      </h2>

      <div class="card-body">
        <% was_validated = @association.errors.any? %>

        <%= form_with(model: @association, url: wizard_path, local: true, novalidate: true, class: "mb-3") do |f| %>
          <div class="form-group">
            <% origin_model_id_class = "form-control" %>
            <% origin_model_id_was_invalid = @association.errors.include?(:origin_model) %>

            <% if was_validated %>
              <% if origin_model_id_was_invalid %>
                <% origin_model_id_class << " is-invalid" %>
              <% else %>
                <% origin_model_id_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :origin_model_id, "Which class would you like to add an association accessor method to?" %>
            <%= f.collection_select :origin_model_id, @association.idea.models.order(:class_name), :id, :class_name, {}, class: origin_model_id_class, disabled: true %>
            <% if origin_model_id_was_invalid %>
              <% @association.errors.full_messages_for(:origin_model).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% terminus_model_id_class = "form-control" %>
            <% terminus_model_id_was_invalid = @association.errors.include?(:terminus_model) %>

            <% if was_validated %>
              <% if terminus_model_id_was_invalid %>
                <% terminus_model_id_class << " is-invalid" %>
              <% else %>
                <% terminus_model_id_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :terminus_model_id, "Which table do you want the method to return an associated record(s) from?" %>
            <%= f.collection_select :terminus_model_id, @association.idea.models.order(:plural_name), :id, :plural_name, { prompt: "Please select from one of your existing models, or go create a new one." }, class: terminus_model_id_class, disabled: true %>
            <% if terminus_model_id_was_invalid %>
              <% @association.errors.full_messages_for(:terminus_model_id).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% nature_class = "form-control" %>
            <% nature_was_invalid = @association.errors.include?(:nature) %>

            <% if was_validated %>
              <% if nature_was_invalid %>
                <% nature_class << " is-invalid" %>
              <% else %>
                <% nature_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :nature, "For this relationship, how is a row in the #{@association.origin_model.plural_name} table connected to a row in the #{@association.terminus_model.plural_name} table?" %>
            <%= f.collection_select :nature, @association.options_for_nature_select, :first, :last, { prompt: "Directly or indirectly?" }, class: nature_class, disabled: true %>
            <% if nature_was_invalid %>
              <% @association.errors.full_messages_for(:nature).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% join_model_id_class = "form-control" %>
            <% join_model_id_was_invalid = @association.errors.include?(:join_model) %>

            <% if was_validated %>
              <% if join_model_id_was_invalid %>
                <% join_model_id_class << " is-invalid" %>
              <% else %>
                <% join_model_id_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :join_model_id, "Which table is the joining record located in?" %>
            <%= f.select :join_model_id, options_from_collection_for_select(@association.idea.models.order(:plural_name), :id, :plural_name, @association.join_model_id), { prompt: "Please select from one of your existing tables, or go create a new one." }, class: join_model_id_class, disabled: true %>
            <% if join_model_id_was_invalid %>
              <% @association.errors.full_messages_for(:join_model).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% through_association_id_class = "form-control" %>
            <% through_association_id_was_invalid = @association.errors.include?(:through_association) %>

            <% if was_validated %>
              <% if through_association_id_was_invalid %>
                <% through_association_id_class << " is-invalid" %>
              <% else %>
                <% through_association_id_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :through_association_id, "Which association leads from the origin #{@association.origin_model.class_name} to the joining #{@association.join_model.class_name}?" %>
            <%= f.select :through_association_id, options_from_collection_for_select(Association.finished.where(origin_model_id: @association.origin_model_id, terminus_model_id: @association.join_model_id).order(:name), :id, :to_s, @association.through_association_id), { prompt: "Please select an existing #{@association.origin_model.class_name} association that returns #{@association.join_model.singular_name.indefinitize}(s)." }, class: through_association_id_class %>
            <% if through_association_id_was_invalid %>
              <% @association.errors.full_messages_for(:through_association).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          
          <%= f.button "Next step", class: "btn btn-outline-secondary btn-block" %>
        <% end %>

        <%= link_to @association.idea, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-redo fa-fw"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
