<div class="card mb-3">
  <h2 class="card-header h4">
    Association details
  </h2>

  <div class="card-body">
    <div class="row mb-3">
      <div class="col">
        <%= link_to @association.idea, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-chevron-left"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to association, method: :delete, data: { confirm: "Do you really want to delete this association?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>

    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= association.name %></dd>

      <dt>Starts at</dt>
      <dd><%= association.origin_model %></dd>

      <dt>Ends at</dt>
      <dd><%= association.terminus_model %></dd>

      <dt>Nature</dt>
      <dd><%= association.nature %></dd>

      <% if association.direct? %>
        <dt>Foreign key</dt>
        <dd><%= association.foreign_key %></dd>

      <% elsif association.indirect? %>
        <dt>Through association</dt>
        <dd><%= link_to association.through_association, association.through_association %></dd>

        <dt>Source association</dt>
        <dd><%= link_to association.source_association, association.source_association %></dd>
      <% end %>
    </dl>
  </div>
</div>
