<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @association, partial: "card", as: :association %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
      <p class="lead">You said that you want to define an instance method called <code><%= @association.name %></code> on the <code><%= @association.origin_model.class_name %></code> class.</p>
      
      <p class="lead">You said that it was an indirect association, and that, in this relationship, <%= @association.origin_model.singular_name.indefinitize %> is related to <%= @association.terminus_model.plural_name %> through <%= @association.join_model.plural_name %>. To get from the origin <%= @association.origin_model.singular_name %> to the joining <%= @association.join_model.plural_name %>, you said to use the existing <code><%= @association.origin_model.class_name %></code> method called <code><%= @association.through_association.name %></code>.</p>

      <p class="lead">To get from each joining <%= @association.join_model.singular_name %> to the destination <%= @association.terminus_model.singular_name %>, you said to use the existing <code><%= @association.join_model.class_name %></code> method called <code><%= @association.source_association.name %></code>.</p>

      <p class="lead">Okay! With that info, we can help you write your association accessor method:</p>
      <% if @association.belongs_to? %>
<%= render "direct_long_belongs_to", language: :ruby %>
      <% elsif @association.direct_has_many? %>
<%= render "direct_long_has_many" %>
      <% elsif @association.indirect_many_one? %>
<%= render "indirect_long_many_one" %>
      <% elsif @association.indirect_many_many? %>
<%= render "indirect_long_many_many" %>
      <% elsif @association.indirect_one_one? %>
<%= render "indirect_long_one_one" %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  const e = document.querySelector('#origin_model_class_name');
  const annotation = annotate(e, { type: 'underline' });
  annotation.show();
</script>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>
